* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope';
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

.app {
  background-color: var(--dark-blue);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container {
  background-color: var(--dark-grayish-blue);
  width: 90%;
  height: 48%;
  margin-top: 32%;
  display: inherit;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  border-radius: 4%;
}

.advice-container {
  /* background: skyblue; */
  height: 50%;
  padding: 0 5%;
  margin-top: 2%;
}

#ad {
  font-size: .7em;
  letter-spacing: .2em;
  color: var(--neon-green);
  font-weight: 800;
  margin-top: 10%;
}

.advice-container p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  color: white;
}

.mbl-divider {
  margin-top: 3%;
}

.dktp-divider {
  display: none;
}

.btn {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  position: absolute;
  top: 60.5%;
  z-index: 1;
  background-color: var(--neon-green);
  cursor: pointer;
  border: 3px solid transparent;
  transition: box-shadow .2s ease-in-out;
}

.dice {
  position: absolute;
  top: 33.5%;
  left: 30%;
}

.btn:hover {
  box-shadow: 0 0 20px 2px var(--neon-green);
}

.no-quote{
  margin-top: 50%;
}

@media screen and (min-width: 768px) {
  #ad {
    font-size: 1.3rem;
  }

  .btn {
    top: 68.5%;
    height: 70px;
    width: 70px;
  }

  .advice-container p {
    font-size: 28px;
  }

  .container {
    width: 70%;
  }

  .mbl-divider {
    display: none;
  }

  .dktp-divider {
    display: block;
  }
}

@media screen and (min-width: 1000px) and (min-width:1440px) {
  .container {
    margin-top: 10%;
    border-radius: 20px;
    width: 30%;
  }

  .btn {
    top: 64.5%;
  }

}